.dialog-pane .button{
    -fx-background-color: #262834;
    -fx-text-fill: white;
    -fx-wrap-text: true;
    -fx-cursor:hand;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.dialog-pane {
    -fx-background-color: rgb(135,60,73);
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

.dialog-pane > .content.label {
    -fx-text-fill: white;
}


.dialog-pane:header .header-panel {
    -fx-text-fill: white;
    -fx-background-color: #262834;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}
.dialog-pane:header .header-panel .label {
    -fx-text-fill: white;
}